{% block group_item %}
  <section class="section_tematica">
    {% block group_item_header %}
      <header class="module-heading_tematica ">
        {% set title = group.title or group.name %}
        {% block group_item_header_image %}
          <a class="module-image_tematica" href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">
            <img class="img-tematica" src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
          </a>
        {% endblock %}
        {% block dataset_item_header_title %}
          <h3 class="h3-Tematica"><a class="card-grupo-title-tematica" href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">{{group.title }}</a></h3>
        {% endblock %}        
      </header>
    {% endblock %}    
  </section>
{% endblock %}
