{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
<div class="col col-md-3 center" style="background-color:aquamarine ;">
{% block item %}
  <li class="media-item" style="background-color:aquamarine">
    {% block item_inner %}
    {% block image %}
      <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-fluid media-image" style="width:100px ;height:50px;">
    {% endblock %}
    {% block title %}
      <H6 class="media-heading" style="">{{ organization.display_name }}</H6>
    {% endblock %}  
    {% block link %}
    <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="media-view">
      <span>{{ _('View {organization_name}').format(organization_name=organization.display_name) }}</span>
    </a>
    {% endblock %}
    {% endblock %}
  </li>
{% endblock %}
</div>
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
